body {
    font-size: 15px;
    font-family: Josefin Sans, -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, "Microsoft YaHei", Helvetica Neue, Helvetica, Arial, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 400;
}

hr {
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.background-black {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
}

.topbar-fixed {
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
}

.container {
    margin-top: 80px;
}

.logo-text {
    font-size: 22px !important;
    font-weight: 300;
    position: relative;
    top: -2px;
}

.description {
    font-size: 18px;
}

.table tr td,
.table tr th {
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 400;
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
}

.normal-text {
    font-size: 15px;
}

.input {
    width: 100%;
}

#chatdata {
    margin-top: 16px;
    margin-bottom: 16px;
    height: 40vh;
    overflow-y: auto;
}

#chatdata .sysmsg {
    padding: 4px 12px 4px 12px;
    border-radius: 12px;
    margin: 4px 0px 4px 0px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#chatdata .chat {
    width: 100%;
    margin-top: 12px;
}

#chatdata .chat .headimg {
    display: inline-block;
    width: 65px;
    text-align: center;
    vertical-align: top;
}

#chatdata .chat .headimg img {
    width: 45px;
    transition-duration: 0.25s;
}

#chatdata .chat .headimg img:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

#chatdata .chat .msgbox {
    display: inline-block;
    padding-left: 6px;
    min-width: 45px;
    max-width: calc(100% - 10px);
}

#chatdata .chat .msgbox small {
    display: block;
}

#chatdata .chat .msgbox .msg img {
    max-width: 100%;
    max-height: 100%;
}

#chatdata .chat .msgbox .msg {
    margin-top: 4px;
    padding: 12px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    word-break: break-all;
    display: inline-block;
    min-width: 45px;
}

#chatdata .chat .hiddentime {
    opacity: 0;
    transition-duration: 0.25s;
}

#chatdata .chat .hiddentime:hover {
    opacity: 1;
}

#chatdata .hidechat {
    display: none;
}

.full-width {
    width: 100%;
}

#musicname,
#musiclrc {
    word-break: break-all;
}

#blur-img {
    position: fixed;
    height: 120vh;
    left: -10%;
    width: 120vw;
    overflow: hidden;
    top: -10%;
    z-index: -1;
}

.blur-mask {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.3;
    top: 0;
    left: 0;
    overflow: hidden;
}

.blured-img,
#blurimgsrc {
    width: 100%;
    height: 100%;
}

.table tr td,
.table tr th {
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: #009688;
    border-radius: 8px;
    margin-left: 2px;
    margin-right: 2px;
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}

.actionInput a {
    cursor: pointer;
}

.livechat {
    margin-bottom: 130px;
}


/*snackbar*/

.app-refresh {
    position: fixed;
    top: -2.2rem;
    left: 0;
    right: 0;
    z-index: 99999;
    padding: 0 1rem;
    font-size: 15px;
    height: 2.2rem;
    transition: all 0.3s ease;
}

.app-refresh-wrap {
    display: flex;
    color: #fff;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.app-refresh-wrap span {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.btn-secondary {
    background-color: rgba(0, 150, 136, 0.5); 
    border-radius: 15px;
    padding-top: 2px;
    padding-left: 16px;
    z-index: 0;
}

iframe {
    display: none;
    border: 0px;
    width: 100%;
    height: 50vh;
    position: relative;
    top: -450px;
    background: #F1F1F1;
    border: 12px solid rgba(255,255,255,0.0);
    border-radius: 8px;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.8);
}